
.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  max-width: 100%;
  height: 100vh;
  position: relative;
}




.App {
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 100vh;
  transition-duration: 0.5s;

}

.App-active{
  position: absolute;
  opacity: 0.1;
  transition-duration: 0.5s;
  width: 100%;
  height: 100vh;
}

/*do cart display here */

.cart-display{
  z-index: 9;
  grid-column: 4/6;
  grid-row: 1/6;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  width: 400px;
  height: 100vh;
  visibility: hidden;
  opacity:0;
  transition-duration: 0.5s;
}

.cart-display-active{
  z-index: 9;
  grid-column: 4/6;
  grid-row: 1/6;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  width: 400px;
  height: 100vh;
  visibility: visible;
  opacity:1;
  transition-duration: 0.5s;
}

.cart-div{
  background-color:lightgray;
  width: 100%;
  padding-bottom: 10px;
}

.item-cards-cart{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-img{
  width: 100px;
}

.total{
  background-color:lightgray;;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

#close {
  float: right;
  display:inline-block;
  padding:2px 5px;
  background:#CAEBEB;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
}


.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50%;
  flex-wrap: wrap;
  background-color:#C750AD;

}


.shop-name{
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color:#C750AD;

}

.navbar{
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-color:#C750AD;
  
}

ul{
  display: flex;
  flex-direction: row;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  gap: 10%;
  align-items: center;
  justify-items: flex-end;
}


.cart-item{
  position: relative;
  display: flex;
  flex-direction: row;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  gap: 10%;
  align-items: center;
  justify-items: flex-end;
  cursor: pointer;
}


.cartDiv{
  position: absolute;
}
.cart-btn{
  height: 50px;
  width: 50px;
}

.item-count{
  font-size: 18px;
  color: black;
  z-index: 1;
  border: 1px solid black;
  background-color: #6BDEED;
  border-radius: 50px;
  padding: 1px 3px 1px 3px;
  margin-top: 20px;
  margin-left: 10px;
}

.home, .products, .contact{
  grid-column: 1/3;
  grid-row: 2;
  padding: 0 10% 0 10%;
}


/* do products here */
.products{
  display: grid;
  grid-template-columns: 1fr, 5fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.side-bar{
  padding-top: 70px;
  grid-column: 1;
  grid-row: 1;

}


.cat-lst{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}


.input-cat{
  background-color: white;
  border: none;
}

.input-cat:hover, .input-cat-clear:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.input-cat-clear{
  background-color:#A0ED68;
  border-radius: 25px;
}




.main-items{
  padding-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
  grid-column: 2/6;
  grid-row: 1;
}

.search-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search-input{
  width: 500px;
  height: 40px;
  border-radius: 25px;
  outline: none !important;
  padding-left: 5px;
}
.search-sbmit{
  visibility: hidden;
}
.search-input:hover, .search-input:focus {
  box-shadow: 0 0 10px black;
}

.search-icon{
  outline: none !important;
}


.item-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7%;
}

.item-image{
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(241, 235, 230)
}

.card{
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  width: 250px;
  border: 5px solid rgb(241, 235, 230);
  border-radius: 20px;
  margin-bottom: 20px;
}


.bottom-text{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.bottom-text > p {
  padding-left: 5px;
}

.add-cart-btn{
  background-color: #6BDEED;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
}
.add-cart-btn:hover{
  /*transform: scale(1.1);*/
  box-shadow: 0 0 10px #6BDEED;
}

img{
  width: 200px;
  height: 250px;
}


/* side bar on products page */






